@import '../../../styles/constants';

.search-button {
  color: $secondary-color;
  opacity: 0.8;
  width: 30px;
  height: 30px;
  background: transparent;
  padding: 0;
  font-size: 18px;
  margin-right: 2px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
  &:disabled {
    pointer-events: none;
  }
}