.films-grid {
  padding-bottom: 10px;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 20px;
    justify-content: space-evenly;
  }
  &__pagination {
    margin-top: 30px;
  }
}