@import '../../../styles/constants';

.film-preview {
  width: 200px;

  &__img {
    display: block;
    width: 200px;
    height: 300px;
    box-shadow: 0 11px 10px -10px rgba(0,0,0,0.5);
  }
  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    color: $title-color;
  };
}